.scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: var(--text-offwhite);
  border: 2px solid var(--accent);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-earth-grey-green);
  z-index: 999;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 15px #f0f02586;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-to-top:hover {
  background: var(--card-color);
  transform: translateY(-5px);
  box-shadow: 0 6px 20px var(--image-glass);
  border-color: var(--card-color);
}

.scroll-to-top:active {
  transform: translateY(-2px);
}

.scroll-to-top svg {
  width: 24px;
  height: 24px;
}